@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: rgb(255, 255, 255);
}
#menu{
    background-color: rgb(37, 37, 39);
}

#menu ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu ul li a:hover {
    background-color: rgb(24, 139, 233);
}

#menu ul li:last-child a {
    float: right;
    background-color: rgb(24, 139, 233);
}
img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#js{
    width: 10%;

}
#css{
    width: 10%;

}
#html{
    width: 15%;

}

.dropbtn {
    background-color: rgb(37, 37, 39);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #474646;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: rgb(24, 139, 233);
  }

