* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppis', sans-serif;

}

:root {
    --cor-fundo: rgb(10, 10, 10);
    --cor-hover: rgb(64, 66, 65);
    --cor-primaria: rgb(231, 241, 236);
}

body {
    min-height: 200vh;
    background-color: var(--cor-fundo);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .6s;
    padding: 40px 100px;
    z-index: 100000;
}

header .logo {
    position: relative;
    font-weight: 600;
    color: var(--cor-primaria);
    font-size: 1.6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .6s;
}

p::after {
    content: "";
    width: auto;
    height: 1px;
    background-color: var(--cor-primaria);
    display: block;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 17px;
    text-decoration: none;
    color: var(--cor-primaria);
    letter-spacing: 2px;
    font-weight: 500px;
    transition: .6s;
    display: inline-block;

}

header ul li a:hover {
    background-color: var(--cor-hover);
    text-decoration: none;
    padding: 5px;
    border-radius: 17px;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('https://img.freepik.com/vetores-gratis/desenho-de-fundo-de-formas-abstratas-pretas_1017-31904.jpg?w=826&t=st=1670521020~exp=1670521620~hmac=7b0314598efa01728f6e0c41acfe84466fde40e4d8191a544f7ef251250288b9');
    background-size: cover;
}

/*sub menu*/
header ul ul {
    min-width: 160px;
    display: none;
    left: 0;
    position: absolute;
    opacity: 50%;
}

header ul li:hover ul {
    display: block;
    background-color: var(--cor-hover);
    padding: 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 15px;

}

/*imag*/
img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#js {
    width: 10%;

}

#css {
    width: 10%;

}

#html {
    width: 15%;

}

/*stick*/

header.sticky {
    padding: 5px 100px;
    background: var(--cor-primaria);

}

header.sticky .logo,
header.sticky ul li a {
    color: var(--cor-fundo);
}