#tabela {
    margin: 10vh 10em;
    border: 5px solid black;
    width: 30cm;
    height: 3in;
    background-color: rgba(128, 128, 128, 50%);
    box-shadow: 10px 10px rgb(0, 0, 0);
}

td,tr{
    border: 2px dashed #ff0000;

}

.colunadois {
    width: 50%;

}   