body {
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P';
    padding: 0;
    margin: 0;
    color: white;
}


.all {
    display: block;
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
    background-image: url('../imagens/backperf.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 60px;
    border: 1px solid #000;
    background: rgba(25, 30, 58, 0.90);
}

.log {
    margin-left: 10px;
}

.perfil {
    margin-right: 5%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #FFA12B;
}

.matter {
    background-color: #000;
    width: 50%;
    height: 85%;
    margin-top: 2%;
    border-radius: 10px;
    border: 3px solid #000;
    background: rgba(25, 30, 58, 0.80);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.matter h1{
    margin-left: 5%;
}
.matter h2{
    margin-left: 10%;
}
.matter h3{
    margin-left:15%
}
.matter h1:hover{
    color: #FFA12B;
    cursor: pointer;
}
.matter h2:hover{
    color: #FFA12B;
    cursor: pointer;
}
.matter h3:hover{
    color: #FFA12B;
    cursor: pointer;
}

.you {
    position: absolute;
    display: block;
    width: 572px;
    height: 288px;
    border: 3px solid #000;
    background: #191E3A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    bottom: 3.5%;
    top: 15%;
    right: 2%;
}

.you h2 {
    text-align: center;
}

.you p {
    margin-left: 5%;
    display: flex;
    font-size: 20px;
    margin-top: 10%;
    align-items: center;
}

.you .heart {
    display: flex;
    position: absolute;
    right: 10%;
    bottom: 25%;
}

.you .heart img {
    width: 30px;
    height: 30px;
}

.you p img {
    width: 39px;
    height: 37px;
}

.you .person {
    position: absolute;
    display: flex;
    margin: 1%;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    width: 143px;
    height: 168px;
    border: 3px solid #000;
    background: #0E1422;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.you .person img {
    width: 74px;
    height: 115px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.you p img {
    border-radius: 10px;
}